<p>productlist works!</p>

<h1>Please Select</h1>
<div>
    <table>
        <tr>
            <td><img src="assets/Banana-Single.jpg"/></td>
            <td>Banana</td>
            <td><button type="submit" name="add" value="banana" (click)="addProduct($event)">Add</button></td>
        </tr>
        
        <tr>
            <td><img src="assets/Carica_papaya_dsc07806.jpg"/></td>
            <td>Papaya</td>
            <td><button type="submit" name='add' value="papaya" (click)="addProduct($event);">Add</button></td>
        </tr>
        
        <tr>
            <td><img src="assets/download.jpg"/></td>
            <td>Durian</td>
            <td><button type="submit" name="add" value="durian"(click)="addProduct($event)">Add</button></td>
        </tr>
        
        <tr>
            <td><img src="assets/Orange-Fruit-Pieces.jpg"/></td>
            <td>Orange</td>
            <td><button type="submit" name="add" value="orange" (click)="addProduct($event)">Add</button></td>
        </tr>
    </table>   
</div>

<app-cart [scList]='plCartArray' ></app-cart>